# Ignore dependencies managed by Composer
/vendor/
/node_modules/

# Except these files and directories
!.gitignore
!.ddev/
.ddev/*
!.ddev/config.yaml
!prd.md
!README.md
!composer.json
!.gitlab-ci.yml

# Test artifacts
/tests/temp/
/simpletest/

# OS files
.DS_Store
