
# Ignore vendor directory (Composer dependencies)
/vendor/

# Ignore local configuration overrides
/sites/*/settings.local.php
/sites/*/services.yml

# Ignore simpletest artifacts
/sites/simpletest/

# Ignore .DS_Store (Mac)
.DS_Store

# Ignore IDE settings
.idea/
.vscode/

# Ignore DDEV folder
.ddev/

# Ignore composer lock file (for libraries/modules)
# It is generally recommended not to commit lock files for modules, but for projects it is essential.
# For a contributed module, we usually ignore composer.lock unless we are running tests.
composer.lock
