image: php:8.3

variables:
  COMPOSER_CACHE_DIR: "$CI_PROJECT_DIR/.composer-cache"

cache:
  paths:
    - .composer-cache

before_script:
  # Install system dependencies
  - apt-get update && apt-get install -y git unzip libpng-dev libzip-dev
  # Install PHP extensions
  - docker-php-ext-install gd zip
  # Install Composer
  - curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
  - composer install --no-progress

# Functional tests require a full Drupal installation to run
# TODO: Set up proper test environment with database and Drupal installation
# test:
#   script:
#     - composer run test:changelogify
